# API URL cho frontend kết nối tới backend
# Trong môi trường production: https://api.amidemy.uk/api/v1
# Trong môi trường local: http://localhost:8000/api/v1
VITE_API_URL=http://localhost:8000/api/v1
